<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ site.title }}</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="shortcut icon" href="/img/favicon.png" />

	<meta property="og:url" content="{{ site.url }}{{ page.url }}"></meta>
	<meta property="og:title" content="{{ page.title }}"></meta>	
	<meta property="og:type" content="article"></meta>
	<meta property="og:description" content="Artiste, peintre en art contemporain"></meta>
	<meta name="description" content="Artiste, peintre en art contemporain" />
	<meta name="keywords" content="Myriam Tousignant, artiste, peintre, peinture, art conteporain, vidéo, animation, Myriam,  Tousignant, expositions, exposition, UQÀM, myriam, myriam tousignant, tousignant" />
	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

	<link rel="alternate" type="application/rss+xml" title="Myriam Tousignant RSS Feed" href="/feed/" />
	<link rel="alternate" type="application/atom+xml" title="Myriam Tousignant Atom Feed" href="/feed/atom/" />

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:regular,italic,bold,bolditalic" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:regular,italic,bold,bolditalic" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif:regular,bold" />
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
	<link rel='stylesheet' id='pretty_photo-css'  href='/infinitythemetrust/css/prettyPhoto.css?ver=3.1.2' type='text/css' media='all' />
	<link rel='stylesheet' id='slideshow-css'  href='/infinitythemetrust/css/flexslider.css?ver=1.7' type='text/css' media='all' />
	
	<script type='text/javascript' src='/js/jquery/jquery.js?ver=1.8.3'></script>
	<script type="text/javascript">var icl_lang = 'fr';var icl_home = 'http://myriamtousignant.com/';</script>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<style type="text/css" media="screen">
	
		h1, h2, h3, h4, h5, h6 { font-family: 'Roboto Condensed'; }
	
		body { font-family: 'Roboto'; }
		body {border-top: 5px solid #d68017;}
		.projectNav a:hover { background-color: #d68017; }
		#filterNav .selected { color: #d68017!important;}
	
		#mainNav ul a, #mainNav ul li.sfHover ul a { color: #7b7b7b !important;	}
		#mainNav ul li.current a,
		#mainNav ul li.current-cat a,
		#mainNav ul li.current_page_item a,
		#mainNav ul li.current-menu-item a,
		#mainNav ul li.current-post-ancestor a,
		#mainNav ul li.current_page_parent a,
		#mainNav ul li.current-category-parent a,
		#mainNav ul li.current-category-ancestor a,
		#mainNav ul li.current-portfolio-ancestor a,
		#mainNav ul li.current-projects-ancestor a {
			color: #d68017 !important;		
		}
		#mainNav ul li.sfHover a,
		#mainNav ul li a:hover,
		#mainNav ul li:hover {
			color: #d68017 !important;	
		}
		#mainNav ul li.sfHover ul a:hover { color: #d68017 !important;}	
	
		a { color: #d68017;}
		a:hover {color: #bf6a15;}
		.button, #searchsubmit, input[type="submit"] {background-color: #515151 !important;}
		.button:hover, #searchsubmit:hover, input[type="submit"]:hover {background-color: #717171 !important;}
		body {
		border-top:0;
		background-color:#fff;
		color:#515151;
		}
		
		input[type="text"], textarea {
		background-color: #fff;
		background: #fff;
		font-family:inherit;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		color:inherit;
		border: 1px solid #cdcdcd;
		padding:5px;
		margin: 10px 0!important;
		}
		
		label {
		font-family:inherit;
		font-size: .75em;
		}
		
		a.button, #footer a.button, #searchsubmit, input[type="submit"] {
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		font-size: 1.2em;
		padding: 5px 12px;
		font-family: 'Roboto Condensed';
		font-weight:normal;
		}
		
		#sideWidgets .widgetBox h3, #footer .widgetBox h3 {
		font-size:1.5em;
		}
		
		#content #filterNav {
		display:none;
		}
		
		.project h2 {
		font-size: 1em;
		line-height: .7em;
		padding: 0;
		margin-bottom: 0;
		display: block;
		}
	</style>
	
	<!--[if IE 7]>
	<link rel="stylesheet" href="/infinitythemetrust/css/ie7.css" type="text/css" media="screen" />
	<![endif]-->
	<!--[if IE 8]>
	<link rel="stylesheet" href="/infinitythemetrust/css/ie8.css" type="text/css" media="screen" />
	<![endif]-->
	
	<script src="/js/oilandsugar.js"></script>
</head>
