<body class="single single-post single-format-standard bg_none ">
    <%- partial('_partial/branding.ejs') %>
    <div id="container" class="clearfix">
        <%- partial('_partial/header.ejs') %>
        <div id="main" class="clearfix">
            <div id="pageHead">
                <h1>Publications</h1>
            </div>
            <div id="content">
                <%- partial('_partial/social-icons.ejs') %>
               <%- page.content %>
            </div>
        </div>    
        <%- partial('_partial/footer') %>
    </div><!-- end container -->
    <%- partial('_partial/after-footer') %>
</body>