<body class="single single-post single-format-standard bg_none ">
    <%- partial('_partial/branding.ejs') %>
    <div id="container" class="clearfix">
        <%- partial('_partial/header.ejs') %>
        <div id="main" class="clearfix">
            <div id="pageHead">
                <h1>Publications</h1>
            </div>
            <div id="content">
                <%- partial('_partial/social-icons.ejs') %>
                <p>
                    <strong><%- page.parution %></strong><br/>
                    <a href="<%- page.external_url %>" target="_blank" rel="external"><%- page.title %></a>
                </p>
                <%- page.content %>
                <p><a href="<%- page.external_url %>" target="_blank" rel="external"><% if(page.external_url_title !== undefined) {%> <%- page.external_url_title %> <%} else {%>Consulter l'article sur Baron Mag<%}%></a></p>
            </div>
        </div>    
        <%- partial('_partial/footer') %>
    </div><!-- end container -->
    <%- partial('_partial/after-footer') %>
</body>