---
layout: 'layout'
---
{% block content %}
<body class="single single-post single-format-standard bg_none ">
    {% include ('_partial/branding.twig') %}
    <div id="container" class="clearfix">
        {% include ('_partial/_header.twig') %}
        <div id="main" class="clearfix">
            <div id="pageHead">
                <h1>Publications</h1>
            </div>
            <div id="content">
                {% include ('_partial/_social-icons.twig') %}
                <p>
                    <strong>{{ page.parution }}</strong><br/>
                    <a href="{{ page.external_url }}" target="_blank" rel="external">{{ page.title }}</a>
                </p>
                {{ page.content }}
                <p><a href="{{ page.external_url }}" target="_blank" rel="external">{% if page.external_url_title %} {{ page.external_url_title }} {% else %}Consulter l'article sur Baron Mag{% endif %}</a></p>
            </div>
        </div>    
        {% include ('_partial/_footer.twig') %}
    </div><!-- end container -->
    {% include ('_partial/_after-footer.twig') %}
</body>
{% endblock %}