---
layout: 'layout'
---
{% block content %}
<body class="single single-post single-format-standard bg_none ">
    {% include is_styleguide ? '@branding' : '_partial/branding.twig' %}
    <div id="container" class="clearfix">
        {% include is_styleguide ? '_header' : '_partial/_header.twig' %}
        <div id="main" class="clearfix">
            <div id="pageHead">
                <h1>{{ page.title }}</h1>
            </div>
            <div id="content">
                {{ page.content }}
                {% for item in site.posts %}
                    <p>
                        <strong>{{ item.parution }}</strong><br/>
                	    <a href="{{ item.url }}">{{ item.title }}</a>
            	    </p>
                	{{ item.content }}
                {% endfor %}
            </div>
        </div>    
        {% include is_styleguide ? '_footer' : '_partial/_footer.twig' %}
    </div><!-- end container -->
    {% include is_styleguide ? '_after-footer' : '_partial/_after-footer.twig' %}
</body>
{% endblock %}